:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;

  --white: #fff;
  --light: #f2f2f2;
  --gray: gray;
  --dark: #333;
  --black: #000;

  --container-width: 1400px;
  --modal-width: 960px;
  --header-height: 6rem;
  --footer-height: 8rem;
  --section-gutter: calc(var(--header-height) * 1.5);
}
